/*General styles*/
* {
    box-sizing: border-box;
}

body {
    font-family: 'Teko', sans-serif;
    font-size: 14px;
    background-color: #edf0f2;
}

.container {
    display: flex;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

/*Header*/
header .container {
    padding-left: 5%;
}

/*Navigation*/
nav {
    font-size: 17px;
}

nav .logo {
    width: 10%;
}

nav .logo img {
    width: 100%;
}

nav .menu {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul:first-child {
    border-right: 1px solid #A6A8A9;
}

nav li {
    margin: 0 20px;
}

/*Title and slider*/

.tagline {
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    align-items: flex-end;
}

.tagline span {
    transform: rotate(-90deg);
    display: block;
    font-size: 40px;
    font-weight: 600;
    white-space: nowrap;
    position: absolute;
    right: -100px;
    top: 260px;
}

.tagline .media {
    display: flex;
    flex-direction: column;
}

.tagline a {
    margin: 10px 0;
}

.tagline img {
    width: 19px;
}

.title {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.title h1 {
    color: #E4003B;
    font-size: 142px;
    line-height: 106px;
    font-weight: 600;
    margin: 0;
}

.title span {
    line-height: 25px;
    font-weight: 400;
}

.slider {
    flex: 22;
    display: flex;
}

.slides-wrapper {
    flex: 8;
    position: relative;
    height: 673px;
    overflow: hidden;
}

.slider-navigation {
    flex: 1;
}

.slide {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.slide.active {
    opacity: 1;
}

.slide img {
    width: 100%;
}

.arrows {
    position: absolute;
    bottom: 0;
    right: 0;
}

.forward, .backward {
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.forward {
    background-color: #E4003B;
}

.backward {
    background-color: #edf0f2;
}

.slider-navigation ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
}
.slider-navigation li {
    float: right;
    padding: 5px;
    padding-left: 25px;
    margin: 5px 0;
    cursor: pointer;
    transition: 0.1s;
}

.slider-navigation .active {
    font-size: 50px;
    border-bottom: 1px solid #E4003B;
}